# Column Transformer

It is a powerful tool for applying different transformations to different columns of your dataset within a single pipeline.

In [133]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

In [134]:
link = 'https://raw.githubusercontent.com/campusx-official/100-days-of-machine-learning/main/day28-column-transformer/covid_toy.csv'
df = pd.read_csv(link)

df.sample(5)

    age  gender  fever   cough       city has_covid
29   34  Female    NaN  Strong     Mumbai       Yes
61   81  Female   98.0  Strong     Mumbai        No
87   47    Male  101.0  Strong  Bangalore        No
34   74    Male  102.0    Mild     Mumbai       Yes
51   11  Female  100.0  Strong    Kolkata       Yes

In [135]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df.iloc[:,:5],df.iloc[:,-1],test_size=0.3,random_state=2002)

In [138]:
from sklearn.compose import ColumnTransformer

trfr = ColumnTransformer(transformers=[
    ('tf1',SimpleImputer(),['fever']),
    ('tf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
    ('tf3',OneHotEncoder(sparse_output=False,drop='first'),['gender','city']),
],remainder='passthrough')

In [140]:
trfr.fit_transform(X_train).shape

(70, 7)

1. Column Transformer - https://www.youtube.com/watch?v=5TVj6iEBR4I
2. Sklearn Pipelines - https://www.youtube.com/watch?v=xOccYkgRV4Q

 1. Pickling your model - https://www.youtube.com/watch?v=yY1FXX_GSco
 2. Flask Tutorial - https://www.youtube.com/watch?v=swHI1H7DVsQ
 3. Streamlit Tutorial - https://www.youtube.com/watch?v=Klqn--Mu2pE
 4. Deploy model on Heroku - https://www.youtube.com/watch?v=YncZ0WwxyzU
 5. Deploy model on AWS - https://www.youtube.com/watch?v=_rwNTY5Mn40
 6. Deploy model to GCP - https://www.youtube.com/watch?v=fw6NMQrYc6w
 7. Deploy model to Azure - https://www.youtube.com/watch?v=qnbJcbjh-3s
 8. ML model to Android App - https://www.youtube.com/watch?v=ax3WyB-_LJY